.boxbox {
    -fx-background-color: #1D3557;
}
.mainpane {
    -fx-background-color: #457B9D;
}
.label {
        -fx-text-fill: #A8DADC;
        -fx-label-line-length: 10px;
}
.button {
        -fx-background-color: #A8DADC;
        -fx-padding: 10px; 
        -fx-margin: 10px;
    }
    .button:hover {
        -fx-background-color: #E63946; 
    }